@media screen and (max-width: 480px) {
  .br-sp {
  }
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--radius {
   border-radius: 100vh;
   text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
.wrap {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
  font-family: 'Playfair Display', serif;
}
h1 {
  font-size: 3rem;
}
p {
  font-size: 1.5rem;
  line-height: 1.5;
}
h1, p {
  margin-bottom: 2rem;
}
a {
  color: #0bd;
}
.btn {
  background: #0bd;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

ul {
  margin:0px;
  padding:0px;
}

ul li {
  float:left;
  list-style-type:none;
}
