.btn--orange,
 a.btn--orange {
   color: #fff;
   background-color: #eb6100;
 }
 .btn--orange:hover,
 a.btn--orange:hover {
   color: #fff;
   background: #f56500;
 }

.btn--lime,
 a.btn--lime {
   color: #fff;
   background-color: #00FF00;
 }
 .btn--lime:hover,
 a.btn--lime:hover {
   color: #fff;
   background: #32cd32;
 }

 a.btn--radius {
    border-radius: 100vh;
    text-decoration: none;
 }

.btn {
  background: #0bd;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.btn-calc {
 background: #f56500;
 color: #fff;
 text-decoration: none;
 border-radius: 10px;
}
 color: #fff
