.btn--orange,
 a.btn--orange {
   color: #fff;
   background-color: #eb6100;
 }
 .btn--orange:hover,
 a.btn--orange:hover {
   color: #fff;
   background: #f56500;
 }

.btn--lime,
 a.btn--lime {
   color: #fff;
   background-color: #00FF00;
 }
 .btn--lime:hover,
 a.btn--lime:hover {
   color: #fff;
   background: #32cd32;
 }

 a.btn--radius {
    border-radius: 100vh;
    text-decoration: none;
 }

.btn {
  background: #0bd;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.btn--small {
  background: #0bd;
  padding: 5px 10px;
  border-radius: 2.5;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.btn--calc,
a.btn--calc {
 background: #f56500;
 color: #fff;
 text-decoration: none;
 border-radius: 10px;
}.btn--calc:hover,
 a.btn--calc:hover {
   color: #fff;
   background: #f56500;
 }

.btn--calc--blue,
a.btn--calc--blue {
 background: #4169e1;
 color: #fff;
 text-decoration: none;
 border-radius: 10px;
}.btn--calc--blue:hover,
 a.btn--calc--blue:hover {
   color: #fff;
   background: #4169e1;
 }

.btn2 {
    color: 
#fff;
    background: 
rgba(127, 194, 239, .5);
    padding: .3em .5em;
    border-radius: .3em;
    text-align: center;
    display: table;
    cursor: pinter; 
}
.btn2:hover {
    cursor: pinter; 
}
.btn2:active {
    background: 
rgb(127, 194, 239);
}
.box {
    border: 2px solid 
#d685b0;
    border-radius: .3em;
    height: 200px;
}

/* close button */
.action-close {
    position: relative;
    margin-top: 2em;
}
.action-close .btn2 {
    position: absolute;
    right: 0;
    top: -1em;
}
.action-close .box {
    margin-bottom: 2em;
    border: 2px solid 
rgb(127, 194, 239);
}

/* checkbox non-display */
.add-control .checkbox {
    display: none;
}

/* close button's control */
.add-control .action-close #close:checked ~ .btn {
    display: none;
}
.add-control .action-close #close:checked ~ .box {
    display: none;
}

