@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

.wrap {
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
	padding-top: 2rem;
	font-family: 'Playfair Display', serif;
}

h2 {
	padding: auto;
}

a {
	color: blue;
}

ul {
	width: 100vm;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
}


li {
	text-align: center;
	color: #ffffff;
}

li:last-child {
	border-bottom: none;
}

li a.active {
	color: #ffffff;
	background-color: #4169e1;
}

li a:hover:not(.active) {
	color: #ffffff;
	background-color: #1b2538;
}

@media (prefers-color-scheme: dark) {
	li a {
		color: #ffffff;
	}

	:root {
		background-color: #000;
		color: #fff;
	}
}

@media (prefers-color-scheme: light) {
	li a {
		color: #000000;
	}

	:root {
		background-color: #ffffff;
		color: #000000;
	}
}

.infobox {
	padding: 0.5em 1em;
	color: #232323;
	background: #fff8e8;
	border-left: solid 10px #ffc06e;
}

.infobox p {
	margin: 0;
	padding: 0;
}

.center {
	text-align: center;
}

.hr-center {
	text-align: center;
	margin-left:0px;
}

.left1a {
	text-align: left;
	margin-left:0px;
}

@media screen and (min-width: 480px) {
	.br-sp {
		display: none;
	}

	.padding1a {
		padding: 0px 15px 5px 15px;
	}

	.pcnone {
		display: none;
	}

	.hstack {
		display: inline-block;
		vertical-align: middle;
	}
}

ul.topnav {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: #1b2538;
}

ul.topnav li a.active {
	background-color: #4169e1;
}

ul.topnav li.right {
	float: right;
}

@media screen and (max-width: 480px) {
	.padding1a {
		padding: 0px 5px 0px 5px;
	}

	.mobilenone {
		display: none;
	}

	ul.topnav li.right, ul.topnav li {
		float: none;
	}
}

@media (prefers-color-scheme: dark) {
	a {
		color: #00bfff;
	}

	ul.topnav li a {
		color: #ffffff;
	}

	:root {
		background-color: #000;
		color: #fff;
	}
}

@media (prefers-color-scheme: light) {
	a {
		color: blue;
	}

	:root {
		background-color: #ffffff;
	}
}


h2.www h2 {
	padding: 1rem 3rem;
	color: #fff;
	border-radius: 100vh;
	background-image: -webkit-linear-gradient(right, #9be15d 0%, #00e3ae 100%);
	background-image: linear-gradient(to left, #9be15d 0%, #00e3ae 100%);
}

.leftline {
	width: 50%;
	text-align: left;
}

body {
	font-family: sans-serif;
}


.br-half {
	display: block;
	content: "";
	padding: 5px 0;
}

.cp_cssslider {
	max-width: 80%;
	margin: 0 auto;
	padding-top: 2rem;
	text-align: center;
}

.cp_cssslider>img {
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.5s;
	border-radius: 3px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.cp_cssslider input[name='cp_switch'] {
	display: none;
}

/* サムネイル */
.cp_cssslider label {
	margin: 15px 5px 0 5px;
	border: 2px solid #ffffff;
	display: inline-block;
	cursor: pointer;
	transition: all 0.5s ease;
	opacity: 0.6;
	border-radius: 3px;
}

.cp_cssslider label:hover {
	opacity: 0.9;
}

.cp_cssslider label img {
	display: block;
	width: 40px;
	border-radius: 2px;
}

.cp_cssslider input[name='cp_switch']:checked+label {
	border: 2px solid #FF7043;
	opacity: 1;
}

.cp_cssslider input[name='cp_switch']~img {
	opacity: 0;
}

.cp_cssslider input[name='cp_switch']:checked+label+img {
	opacity: 1;
}

h2 {
	margin-block-end: 0;
	margin-block-start: 0;
}

h2.title {
	margin-block-end: 0;
	margin-block-start: 0.5;
}