@media screen and (max-width: 640px) {
img{
max-width: 100%;
height: auto;
width /***/:auto;
}
  
@media screen and (min-width: 640px) {
.br-sp {
  display: none;
}

  .btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--radius {
   border-radius: 100vh;
   text-decoration: none;
}
