.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--radius {
   border-radius: 100vh;
   text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
.wrap {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
  font-family: 'Playfair Display', serif;
}
h1 {
  font-size: 3rem;
}
p {
  font-size: 1.5rem;
  line-height: 1.5;
}
h1, p {
  margin-bottom: 2rem;
}
a {
  color: #0bd;
}
.btn {
  background: #0bd;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

ul {
	width: 200px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #eeeeee;
}
li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: #000000;
}
li {
	text-align: center;
}
li:last-child {
	border-bottom: none;
}
li a.active {
	color: #ffffff;
	background-color: #4169e1;
}
li a:hover:not(.active) {
	color: #ffffff;
	background-color: #1b2538;
}
