.btn--orange,
 a.btn--orange {
   color: #fff;
   background-color: #eb6100;
 }
 .btn--orange:hover,
 a.btn--orange:hover {
   color: #fff;
   background: #f56500;
 }

.btn--lime,
 a.btn--lime {
   color: #fff;
   background-color: #00FF00;
 }
 .btn--lime:hover,
 a.btn--lime:hover {
   color: #fff;
   background: #32cd32;
 }

 .btn--blue,
 a.btn--blue {
   color: #fff;
   background-color: #4169e1;
 }
 .btn--lime:blue,
 a.btn--lime:bluer {
   color: #fff;
   background: #4169e1;
 }

 a.btn--radius {
    border-radius: 100vh;
    text-decoration: none;
 }

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.btn--small {
  background: #0bd;
  padding: 5px 10px;
  border-radius: 2.5;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.btn--calc,
a.btn--calc {
 background: #f56500;
 color: #fff;
 text-decoration: none;
 border-radius: 10px;
}.btn--calc:hover,
 a.btn--calc:hover {
   color: #fff;
   background: #f56500;
 }

.btn--calc--blue,
a.btn--calc--blue {
 background: #4169e1;
 color: #fff;
 text-decoration: none;
 border-radius: 10px;
}.btn--calc--blue:hover,
 a.btn--calc--blue:hover {
   color: #fff;
   background: #4169e1;
 }

.datetext {
 color: #a9a9a9;
 font-size: 8px;
}
 
