@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
.wrap {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
  font-family: 'Playfair Display', serif;
}
h1 {
  font-size: 3rem;
}
p {
  font-size: 100%;
  line-height: 1.5;
}
h1, p {
  margin-bottom: 2rem;
}
a {
  color: #;
}

ul {
	width: 100vm;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
}
li {
	text-align: center;
	color: #ffffff;
}
li:last-child {
	border-bottom: none;
}
li a.active {
	color: #ffffff;
	background-color: #4169e1;
}
li a:hover:not(.active) {
	color: #ffffff;
	background-color: #1b2538;
}

body {
	font-family: sans-serif;
}

@media (prefers-color-scheme: dark){
	li a {
		color: #ffffff;
	}
	:root {
		background-color: #000;
		color: #fff;
	}
}
@media (prefers-color-scheme: light){
	li a {
		color: #000000;
	}
	:root {
		background-color: #ffffff;
		color: #000000;
	}
}

.infobox {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}
.infobox p {
    margin: 0; 
    padding: 0;
}

@media screen and (min-width: 480px) {
.br-sp {display: none; }
.hstack{
  display: inline-block; /* インライン要素にすることで横に回り込む */
  vertical-align: middle; /* 上下中央に寄せる */ 
}
}

ul.topnav {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.topnav li {
	float: left;
}
ul.topnav li a {
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}
ul.topnav li a:hover:not(.active) {
	background-color: #1b2538;
}
ul.topnav li a.active {
	background-color: #4169e1;
}
ul.topnav li.right {
	float: right;
}
@media screen and (max-width: 480px) {
	ul.topnav li.right, ul.topnav li {
		float: none;
	}
}

@media (prefers-color-scheme: dark){
	ul.topnav li a {
		color: #ffffff;
	}
	:root {
		background-color: #000;
		color: #fff;
	}
}
@media (prefers-color-scheme: light){
	:root {
		background-color: #ffffff;
	}


h2.www h2 {
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 100vh;
  background-image: -webkit-gradient(linear, right top, left top, from(#9be15d), to(#00e3ae));
  background-image: -webkit-linear-gradient(right, #9be15d 0%, #00e3ae 100%);
  background-image: linear-gradient(to left, #9be15d 0%, #00e3ae 100%);
}

.hstack{
  display: inline-block; /* インライン要素にすることで横に回り込む */
  vertical-align: middle; /* 上下中央に寄せる */ 
}

.leftline hr {
	width: 50%;
	align: left;
	}
	
	
.br-half {
display: block;
content: "";
padding: 5px 0;
}
